
# executables
testVector
testMatrix3x3
testQuaternion

# chapter 15
ch15-flight-sim/flight-sim

# misc visual studio files
*.pdb
*.ilk
*.aps

.vscode/

.vs/
.vscode/
build/vs2019/
build/vs2022/
build/gmake/
*.[oa]

*.exe
*.lib

!premake5-beta1.exe

directX-sdk
