
# executables
testVector
testMatrix3x3
testQuaternion

#chapter 9
rigid_body-2D.exe
rigid_body-2D_d.exe

# chapter 15
flight-sim.exe
flight-sim_d.exe

# chapter 17
hover.exe
hover_d.exe

# misc visual studio files
*.pdb
*.ilk

ex01
ex02

.vs/
.vscode/
build/vs2019/
build/gmake/

chap15-flight-sim/Debug
chap15-flight-sim/Release




directX-sdk
